<section class="post-content">
  <div class="container">
    <ul class="post-content-list">
      <li>
        <img src="" alt="" />
        <picture>
          <!-- <source
              media="(min-width: 1440px)"
              srcset=""
              type="image/png"
            /> -->
          <source
            media="(min-width: 768px)"
            srcset="
              ./img/articles/desktop/busy_bathroom_desktop.png    1x,
              ./img/articles/desktop/busy_bathroom_desktop@2x.png 2x
            "
            type="image/png"
          />
          <source
            media="(max-width: 767px)"
            srcset="
              ./img/articles/mobile/busy_bathroom_mobile.png    1x,
              ./img/articles/mobile/busy_bathroom_mobile@2x.png 2x
            "
            type="image/png"
          />
          <img
            alt="bathroom
          "
            src="./img/articles/mobile/busy_bathroom_mobile.png"
          />
        </picture>
        <p>
          Your bathroom serves a string of busy functions on a daily basis. See
          how you can make all of them work, and still have room for comfort and
          relaxation. <span>A cleaning hub with built-in ventilation</span> Use
          a rod and a shower curtain to create a complement to your cleaning
          cupboard. Unsightly equipment is stored out of sight yet accessibly
          close – while the air flow helps dry any dampness.
        </p>
      </li>
      <li class="mobile-content-item">
        <picture>
          <source
            media="(min-width:1px)"
            srcset="
              ./img/articles/mobile/cleaning_hub.png    1x,
              ./img/articles/mobile/cleaning_hub@2x.png 2x
            "
            type="image/png"
          />
          <img
            alt="bathroom
          "
            src="./img/articles/mobile/cleaning_hub.png"
          />
        </picture>
        <p>
          <span>Storage with a calming effect</span> Having a lot to store
          doesn’t mean it all has to go in a cupboard. Many bathroom items are
          better kept out in the open – either to be close at hand or are nice
          to look at. Add a plant or two to set a calm mood for the entire room
          (and they’ll thrive in the humid air).
        </p>
      </li>
      <li class="mobile-content-item">
        <picture>
          <source
            media="(min-width:1px)"
            srcset="
              ./img/articles/mobile/calming_storage.png    1x,
              ./img/articles/mobile/calming_storage@2x.png 2x
            "
            type="image/png"
          />
          <img
            alt="bathroom
          "
            src="./img/articles/mobile/calming_storage.png"
          />
        </picture>
        <p>
          <span>Kit your clutter for easy access</span> Even if you have a
          cabinet ready to swallow the clutter, it’s worth resisting a little.
          Let containers hold kits for different activities – home spa, make-up,
          personal hygiene – to bring out or put back at a moment’s notice.
        </p>
      </li>
      <li class="desktop-content-item">
        <div>
          <picture>
            <source
              media="(min-width:1px)"
              srcset="
                ./img/articles/mobile/cleaning_hub.png    1x,
                ./img/articles/mobile/cleaning_hub@2x.png 2x
              "
              type="image/png"
            />
            <img
              alt="bathroom
          "
              src="./img/articles/mobile/cleaning_hub.png"
            />
          </picture>
          <picture>
            <source
              media="(min-width:1px)"
              srcset="
                ./img/articles/mobile/calming_storage.png    1x,
                ./img/articles/mobile/calming_storage@2x.png 2x
              "
              type="image/png"
            />
            <img
              alt="bathroom
          "
              src="./img/articles/mobile/calming_storage.png"
            />
          </picture>
        </div>
        <p>
          <span>Storage with a calming effect</span> Having a lot to store
          doesn’t mean it all has to go in a cupboard. Many bathroom items are
          better kept out in the open – either to be close at hand or are nice
          to look at. Add a plant or two to set a calm mood for the entire room
          (and they’ll thrive in the humid air).
        </p>
        <p>
          <span>Kit your clutter for easy access</span> Even if you have a
          cabinet ready to swallow the clutter, it’s worth resisting a little.
          Let containers hold kits for different activities – home spa, make-up,
          personal hygiene – to bring out or put back at a moment’s notice.
        </p>
      </li>
      <li>
        <picture>
          <source
            media="(min-width:1px)"
            srcset="
              ./img/articles/mobile/clutter.png    1x,
              ./img/articles/mobile/clutter@2x.png 2x
            "
            type="image/png"
          />
          <img
            alt="bathroom
          "
            src="./img/articles/mobile/clutter.png"
          />
        </picture>
        <p>
          <span>An ecosystem of towels </span>
          Racks or hooks that allow air to circulate around each towel prolong
          their freshness. They dry quick and the need for frequent washing is
          minimized.
          <span>Make your mop disappear</span>
          heroHaving your cleaning tools organized makes them easier to both use
          and return to. When they’re not needed, close the curtain and feel the
          peace of mind it brings.
        </p>
      </li>
    </ul>
  </div>
</section>
