<hero class="blog-post-hero">
  <div class="container">
    <ul class="post-breadcrumbs-list">
      <li>
        <a class="post-back" href="./blog.html">
          <svg width="12" height="12">
            <use href="./public/symbol-defs.svg#icon-chevron-right"></use>
          </svg>
          back</a
        >
      </li>
      <li>
        <a href="./index.html">
          Home
          <svg width="12" height="12">
            <use href="./public/symbol-defs.svg#icon-chevron-right"></use>
          </svg>
        </a>
      </li>
      <li>
        <a href="./blog.html"
          >Blog
          <svg width="12" height="12">
            <use href="./public/symbol-defs.svg#icon-chevron-right"></use>
          </svg>
        </a>
      </li>
      <li>
        <a class="post-active" href="./blog_post.html">
          How to make a busy bathroom a place to relax</a
        >
      </li>
    </ul>

    <p class="post-article">article</p>
    <h1>How to make a busy bathroom a place to relax</h1>
    <ul class="post-author">
      <li>
        <svg width="16" height="16">
          <use href="./public/symbol-defs.svg#icon-user"></use>
        </svg>
        <p>Henrik Annermak</p>
      </li>
      <li>
        <svg width="16" height="16">
          <use href="./public/symbol-defs.svg#icon-calendar"></use>
        </svg>
        <p>October 16, 2023</p>
      </li>
    </ul>
  </div>
</hero>
