.content {
  padding-top: 16px;
}
.content-reviews-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  margin-bottom: 16px;
}
.content-reviews {
  font-family: $font-family;
  font-weight: 400;
  font-size: 12px;
  line-height: 167%;
  color: $neutral-07-100;
}

.info-wrapper {
  border-bottom: 1px solid $neutral-03-100;
}
.content-title {
  margin-bottom: 16px;
  font-family: $second-family;
  font-weight: 500;
  font-size: 40px;
  line-height: 110%;
  letter-spacing: -0.01em;
  color: $neutral-07-100;
}

.content-text {
  margin-bottom: 16px;
  max-width: 508px;
  font-family: $font-family;
  font-weight: 400;
  font-size: 16px;
  line-height: 162%;
  color: $neutral-04-100;
}

.content-price {
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: center;
  margin-bottom: 24px;

  p {
    font-family: $second-family;
    font-weight: 500;
    font-size: 28px;
    line-height: 121%;
    letter-spacing: -0.02em;
  }
}

.content-price li:first-child p {
  color: #121212;
}

.content-price li:last-child p {
  font-size: 20px;
  line-height: 140%;
  text-decoration: line-through;
  color: $neutral-04-100;
}
.timer-wrapper {
  border-bottom: 1px solid $neutral-03-100;
}

.timer-text {
  margin-top: 24px;
  margin-bottom: 12px;
  font-family: $font-family;
  font-weight: 400;
  font-size: 16px;
  line-height: 162%;
  color: $neutral-05-100;
}

.field {
  display: flex;
  flex-direction: column;
}
.timer {
  display: flex;
  flex-direction: row;
  gap: 16px;
  margin-bottom: 24px;
}
.value-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  background: $neutral-02-100;
}

.value {
  font-family: $second-family;
  font-weight: 500;
  font-size: 34px;
  line-height: 112%;
  letter-spacing: -0.02em;
  text-align: center;
  color: $neutral-07-100;
}

.label {
  font-family: $font-family;
  font-weight: 400;
  font-size: 12px;
  line-height: 167%;
  text-align: center;
  color: $neutral-04-100;
}

.swatches-text {
  margin-top: 24px;
  margin-bottom: 8px;
  font-family: $font-family;
  font-weight: 600;
  font-size: 16px;
  line-height: 162%;
  color: $neutral-04-100;
}

.measurments {
  margin-bottom: 24px;
  font-family: $font-family;
  font-weight: 400;
  font-size: 20px;
  line-height: 160%;
  color: $brand-color;
}

.choose-color-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4px;
  margin-bottom: 8px;
}

.color-text {
  font-family: $font-family;
  font-weight: 600;
  font-size: 16px;
  line-height: 162%;
  color: $neutral-04-100;
}

.content-color {
  margin-bottom: 16px;
  font-family: $font-family;
  font-weight: 400;
  font-size: 20px;
  line-height: 160%;
  color: $brand-color;
}

.content-color-list {
  display: flex;
  flex-direction: row;
  gap: 8px;
}
.content-active {
  border: 1px solid black;
}
