<section class="banner-grid">
  <div class="container flex">
    <div class="big-img-wrapper">
      <picture>
        <!-- <source
              media="(min-width: 1440px)"
              srcset=""
              type="image/png"
            /> -->
        <source
          media="(max-width: 1158px)"
          srcset="
            ./img/products/mobile/big_luxury_sofa.png    1x,
            ./img/products/mobile/big_luxury_sofa@2x.png 2x
          "
          type="image/png"
        />
        <img
          class="luxury_sofa"
          alt="luxury sofa"
          src="./img/products/mobile/big_luxury_sofa.png"
        />
      </picture>
      <h2 class="living-room-title">Living Room</h2>
      <a href="../../product.html" class="living-room-button" type="button">
        Shop Now
        <svg class="arrow-right" width="16" height="16">
          <use href="./public/symbol-defs.svg#icon-arrow-right"></use>
        </svg>
      </a>
    </div>
    <ul class="menu-banners">
      <li>
        <picture>
          <!-- <source
              media="(min-width: 1440px)"
              srcset=""
              type="image/png"
            /> -->
          <source
            media="(max-width: 1158px)"
            srcset="
              ./img/products/mobile/wardrobe.png    1x,
              ./img/products/mobile/wardrobe@2x.png 2x
            "
            type="image/png"
          />
          <img alt="wardrobe" src="./img/products/mobile/wardrobe.png" />
        </picture>
        <h2 class="bedroom-title">Bedroom</h2>
        <button
          class="bedroom-button"
          type="button"
          onclick="window.location.href='./html/shop.html'"
        >
          Shop Now
          <svg class="arrow-right" width="16" height="16">
            <use href="./public/symbol-defs.svg#icon-arrow-right"></use>
          </svg>
        </button>
      </li>
      <li>
        <picture>
          <!-- <source
              media="(min-width: 1440px)"
              srcset=""
              type="image/png"
            /> -->
          <source
            media="(max-width: 1158px)"
            srcset="
              ./img/products/mobile/toaster.png    1x,
              ./img/products/mobile/toaster@2x.png 2x
            "
            type="image/png"
          />
          <img alt="toaster" src="./img/products/mobile/toaster.png" />
        </picture>
        <h2 class="kitchen-title">Kitchen</h2>
        <button
          class="kitchen-button"
          type="button"
          onclick="window.location.href='./html/shop.html'"
        >
          Shop Now
          <svg class="arrow-right" width="16" height="16">
            <use href="./public/symbol-defs.svg#icon-arrow-right"></use>
          </svg>
        </button>
      </li>
    </ul>
  </div>
</section>
