<section class="blog-section">
  <div class="container">
    <div class="blog-section-wrapper">
      <h2>Articles</h2>
      <a class="banner-button" href="./blog.html">
        More Articles
        <svg class="arrow-right" width="16" height="16">
          <use href="./public/symbol-defs.svg#icon-arrow-right"></use>
        </svg>
      </a>
    </div>
    <ul class="articles-list">
      <li>
        <picture>
          <!-- <source
              media="(min-width: 1440px)"
              srcset=""
              type="image/png"
            /> -->
          <source
            media="(min-width: 1px)"
            srcset="
              ./img/articles/mobile/living_room.png    1x,
              ./img/articles/mobile/living_room@2x.png 2x
            "
            type="image/png"
          />
          <img alt="Living room" src="./img/articles/mobile/living_room.png" />
        </picture>
        <h3>7 ways to decore your home</h3>

        <a class="banner-button" href="./blog.html">
          Read More
          <svg class="arrow-right" width="16" height="16">
            <use href="./public/symbol-defs.svg#icon-arrow-right"></use>
          </svg>
        </a>
      </li>
      <li>
        <picture>
          <!-- <source
              media="(min-width: 1440px)"
              srcset=""
              type="image/png"
            /> -->
          <source
            media="(min-width: 1px)"
            srcset="
              ./img/articles/mobile/chairs.png    1x,
              ./img/articles/mobile/chairs@2x.png 2x
            "
            type="image/png"
          />
          <img alt="Chairs in kitchen" src="./img/articles/mobile/chairs.png" />
        </picture>
        <h3>Kitchen organization</h3>

        <a class="banner-button" href="./blog.html">
          Read More
          <svg class="arrow-right" width="16" height="16">
            <use href="./public/symbol-defs.svg#icon-arrow-right"></use>
          </svg>
        </a>
      </li>
      <li>
        <picture>
          <!-- <source
              media="(min-width: 1440px)"
              srcset=""
              type="image/png"
            /> -->
          <source
            media="(min-width: 1px)"
            srcset="
              ./img/articles/mobile/bad.png    1x,
              ./img/articles/mobile/bad@2x.png 2x
            "
            type="image/png"
          />
          <img alt="Bad" src="./img/articles/mobile/bad.png" />
        </picture>
        <h3>Decore your bedroom</h3>

        <a class="banner-button" href="./blog.html">
          Read More
          <svg class="arrow-right" width="16" height="16">
            <use href="./public/symbol-defs.svg#icon-arrow-right"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</section>
