<footer class="footer">
  <div class="container">
    <div class="footer-nav-container">
      <div class="footer-logo-wrapper">
        <a class="logo-footer" href="./index.html">3legant<span>.</span> </a>
        <div class="rectangle"></div>
        <a class="gift" href="">Gift & Decoration Store</a>
      </div>

      <ul class="footer-list-nav">
        <li><a href="">Home</a></li>
        <li><a href="">Shop</a></li>
        <li><a href="">Product</a></li>
        <li><a href="">Blog</a></li>
        <li><a href="">Contact Us</a></li>
      </ul>
    </div>

    <div class="footer-wrapper">
      <ul class="privacy-list-desktop">
        <li>
          <p class="copyright">Copyright © 2023 3legant. All rights reserved</p>
        </li>
        <li><a href="">Privacy Policy</a></li>
        <li><a href="">Terms of Use</a></li>
      </ul>
      <ul class="social-list-footer">
        <li>
          <button>
            <svg width="24" height="24">
              <use href="./public/symbol-defs.svg#icon-instagram-white"></use>
            </svg>
          </button>
        </li>
        <li>
          <button>
            <svg width="24" height="24">
              <use href="./public/symbol-defs.svg#icon-facebook"></use>
            </svg>
          </button>
        </li>
        <li>
          <button>
            <svg width="24" height="24">
              <use href="./public/symbol-defs.svg#icon-youtube"></use>
            </svg>
          </button>
        </li>
      </ul>
    </div>
    <div class="privacy-wrapper">
      <ul class="privacy-list">
        <li>
          <p class="copyright-text">
            Copyright © 2023 3legant. All rights reserved
          </p>
        </li>
        <li><a href="">Privacy Policy</a></li>
        <li><a href="">Terms of Use</a></li>
      </ul>
      <p class="copyright-mobile">
        Copyright © 2023 3legant. All rights reserved
      </p>
    </div>

    <!-- </div> -->
  </div>
</footer>
