<hero>
  <div class="container">
    <div class="swiper product-swiper">
      <!-- Additional required wrapper -->
      <div class="swiper-wrapper">
        <!-- Slides -->
        <div class="swiper-slide">
          <picture>
            <!-- <source
              media="(min-width: 1440px)"
              srcset=""
              type="image/png"
            /> -->
            <source
              media="(min-width: 768px)"
              srcset="
                ./img/others/desktop/simply_sofa.png    1x,
                ./img/others/desktop/simply_sofa@2x.png 2x
              "
              type="image/png"
            />
            <source
              media="(max-width: 767px)"
              srcset="
                ./img/others/mobile/simply_sofa.png    1x,
                ./img/others/mobile/simply_sofa@2x.png 2x
              "
              type="image/png"
            />
            <img
              class="hero-img"
              alt="comfortable sofa"
              src="./images/others/mobile/simply_sofa.png"
            />
          </picture>
        </div>
        <div class="swiper-slide">
          <picture>
            <!-- <source
              media="(min-width: 1440px)"
              srcset=""
              type="image/png"
            /> -->
            <source
              media="(min-width: 768px)"
              srcset="
                ./img/others/desktop/simply_sofa.png    1x,
                ./img/others/desktop/simply_sofa@2x.png 2x
              "
              type="image/png"
            />
            <source
              media="(max-width: 767px)"
              srcset="
                ./img/others/mobile/simply_sofa.png    1x,
                ./img/others/mobile/simply_sofa@2x.png 2x
              "
              type="image/png"
            />
            <img
              class="hero-img"
              alt="comfortable sofa"
              src="./img/others/mobile/simply_sofa.png"
            />
          </picture>
        </div>
        <div class="swiper-slide">
          <picture>
            <!-- <source
              media="(min-width: 1440px)"
              srcset=""
              type="image/png"
            /> -->
            <source
              media="(min-width: 768px)"
              srcset="
                ./img/others/desktop/simply_sofa.png    1x,
                ./img/others/desktop/simply_sofa@2x.png 2x
              "
              type="image/png"
            />
            <source
              media="(max-width: 767px)"
              srcset="
                ./img/others/mobile/simply_sofa.png    1x,
                ./img/others/mobile/simply_sofa@2x.png 2x
              "
              type="image/png"
            />
            <img
              class="hero-img"
              alt="comfortable sofa"
              src="./img/others/mobile/simply_sofa.png"
            />
          </picture>
        </div>
        ...
      </div>
      <!-- If we need pagination -->
      <div class="swiper-pagination"></div>
      <!-- If we need navigation buttons -->
      <div class="swiper-button-prev">
        <button class="sbp">
          <svg width="32" height="32">
            <use href="../../public/symbol-defs.svg#icon-arrow-right"></use>
          </svg>
        </button>
      </div>
      <div class="swiper-button-next">
        <button class="sbn">
          <svg width="32" height="32">
            <use href="../../public/symbol-defs.svg#icon-arrow-right"></use>
          </svg>
        </button>
      </div>
    </div>

    <div class="hero-wrapper">
      <h1 class="hero-title">
        Simply Unique<span>/</span> Simply Better<span>.</span>
      </h1>
      <div class="text">
        <button class="hero-button" type="button">3legant</button>
        <p class="hero-text">
          is a gift & decorations store based in HCMC, Vietnam. Est since 2019.
        </p>
      </div>
    </div>
  </div>
</hero>
