<section class="product-carousel">
  <div class="container new-container">
    <h2 class="">New Arrivals</h2>
    <div class="carousel-container">
      <ul class="carousel-list">
        <li>
          <picture>
            <!-- <source
              media="(min-width: 1440px)"
              srcset=""
              type="image/png"
            /> -->
            <source
              media="(min-width: 1px)"
              srcset="
                ./img/products/mobile/black_tray_table.png    1x,
                ./img/products/mobile/black_tray_table@2x.png 2x
              "
              type="image/png"
            />
            <img
              alt="Table lamp"
              src="./img/products/mobile/black_tray_table.png"
            />
          </picture>
          <div class="card-description">
            <ul class="raiting-list">
              <li>
                <svg width="16" height="16">
                  <use href="../public/symbol-defs.svg#icon-star"></use>
                </svg>
              </li>
              <li>
                <svg width="16" height="16">
                  <use href="../public/symbol-defs.svg#icon-star"></use>
                </svg>
              </li>
              <li>
                <svg width="16" height="16">
                  <use href="../public/symbol-defs.svg#icon-star"></use>
                </svg>
              </li>
              <li>
                <svg width="16" height="16">
                  <use href="../public/symbol-defs.svg#icon-star"></use>
                </svg>
              </li>
              <li>
                <svg width="16" height="16">
                  <use href="../public/symbol-defs.svg#icon-star"></use>
                </svg>
              </li>
            </ul>
            <h3>Black Tray table</h3>
            <p>$19.99</p>
            <button class="add-to-cart" type="button">Add to cart</button>
            <ul class="badges-list">
              <li>
                <div class=""><p>new</p></div>
              </li>
              <li>
                <div><p>-50%</p></div>
              </li>
            </ul>
            <button class="favourites" type="button">
              <svg width="20" height="20">
                <use href="./public/symbol-defs.svg#icon-heart"></use>
              </svg>
            </button>
          </div>
        </li>
        <li>
          <picture>
            <!-- <source
              media="(min-width: 1440px)"
              srcset=""
              type="image/png"
            /> -->
            <source
              media="(min-width: 1px)"
              srcset="
                ./img/products/mobile/loveseat_sofa.png    1x,
                ./img/products/mobile/loveseat_sofa@2x.png 2x
              "
              type="image/png"
            />
            <img
              alt="Loveseat sofa"
              src="./img/products/mobile/loveseat_sofa.png"
            />
          </picture>
          <div class="card-description">
            <ul class="raiting-list">
              <li>
                <svg width="16" height="16">
                  <use href="../public/symbol-defs.svg#icon-star"></use>
                </svg>
              </li>
              <li>
                <svg width="16" height="16">
                  <use href="../public/symbol-defs.svg#icon-star"></use>
                </svg>
              </li>
              <li>
                <svg width="16" height="16">
                  <use href="../public/symbol-defs.svg#icon-star"></use>
                </svg>
              </li>
              <li>
                <svg width="16" height="16">
                  <use href="../public/symbol-defs.svg#icon-star"></use>
                </svg>
              </li>
              <li>
                <svg width="16" height="16">
                  <use href="../public/symbol-defs.svg#icon-star"></use>
                </svg>
              </li>
            </ul>
            <h3>Loveseat Sofa</h3>
            <ul class="price-list">
              <li><p>$199.00</p></li>
              <li class="disabled-price"><p>$400.00</p></li>
            </ul>
            <button class="add-to-cart" type="button">Add to cart</button>
            <ul class="badges-list">
              <li>
                <div class=""><p>new</p></div>
              </li>
              <li>
                <div><p>-50%</p></div>
              </li>
            </ul>
            <button class="favourites" type="button">
              <svg width="20" height="20">
                <use href="./public/symbol-defs.svg#icon-heart"></use>
              </svg>
            </button>
          </div>
        </li>
        <li>
          <picture>
            <!-- <source
              media="(min-width: 1440px)"
              srcset=""
              type="image/png"
            /> -->
            <source
              media="(min-width: 1px)"
              srcset="
                ./img/products/mobile/table_lamp_diff.png    1x,
                ./img/products/mobile/table_lamp_diff@2x.png 2x
              "
              type="image/png"
            />
            <img
              alt="Table lamp"
              src="./img/products/mobile/table_lamp_diff.png"
            />
          </picture>
          <div class="card-description">
            <ul class="raiting-list">
              <li>
                <svg width="16" height="16">
                  <use href="../public/symbol-defs.svg#icon-star"></use>
                </svg>
              </li>
              <li>
                <svg width="16" height="16">
                  <use href="../public/symbol-defs.svg#icon-star"></use>
                </svg>
              </li>
              <li>
                <svg width="16" height="16">
                  <use href="../public/symbol-defs.svg#icon-star"></use>
                </svg>
              </li>
              <li>
                <svg width="16" height="16">
                  <use href="../public/symbol-defs.svg#icon-star"></use>
                </svg>
              </li>
              <li>
                <svg width="16" height="16">
                  <use href="../public/symbol-defs.svg#icon-star"></use>
                </svg>
              </li>
            </ul>
            <h3>Table Lamp</h3>
            <p>$24.99</p>
            <button class="add-to-cart" type="button">Add to cart</button>
            <ul class="badges-list">
              <li>
                <div class=""><p>new</p></div>
              </li>
              <li>
                <div><p>-50%</p></div>
              </li>
            </ul>
            <button class="favourites" type="button">
              <svg width="20" height="20">
                <use href="./public/symbol-defs.svg#icon-heart"></use>
              </svg>
            </button>
          </div>
        </li>
        <li>
          <picture>
            <!-- <source
              media="(min-width: 1440px)"
              srcset=""
              type="image/png"
            /> -->
            <source
              media="(min-width: 1px)"
              srcset="
                ./img/products/mobile/table_lamp.png    1x,
                ./img/products/mobile/table_lamp@2x.png 2x
              "
              type="image/png"
            />
            <img
              alt="Beige table lamp"
              src="./img/products/mobile/table_lamp.png"
            />
          </picture>
          <div class="card-description">
            <ul class="raiting-list">
              <li>
                <svg width="16" height="16">
                  <use href="../public/symbol-defs.svg#icon-star"></use>
                </svg>
              </li>
              <li>
                <svg width="16" height="16">
                  <use href="../public/symbol-defs.svg#icon-star"></use>
                </svg>
              </li>
              <li>
                <svg width="16" height="16">
                  <use href="../public/symbol-defs.svg#icon-star"></use>
                </svg>
              </li>
              <li>
                <svg width="16" height="16">
                  <use href="../public/symbol-defs.svg#icon-star"></use>
                </svg>
              </li>
              <li>
                <svg width="16" height="16">
                  <use href="../public/symbol-defs.svg#icon-star"></use>
                </svg>
              </li>
            </ul>
            <h3>Beige Table Lamp</h3>
            <p>$24.99</p>
            <button class="add-to-cart" type="button">Add to cart</button>
            <ul class="badges-list">
              <li>
                <div class=""><p>new</p></div>
              </li>
              <li>
                <div><p>-50%</p></div>
              </li>
            </ul>
            <button class="favourites" type="button">
              <svg width="20" height="20">
                <use href="./public/symbol-defs.svg#icon-heart"></use>
              </svg>
            </button>
          </div>
        </li>
        <li>
          <picture>
            <!-- <source
              media="(min-width: 1440px)"
              srcset=""
              type="image/png"
            /> -->
            <source
              media="(min-width: 1px)"
              srcset="
                ./img/products/mobile/bamboo_basket.png    1x,
                ./img/products/mobile/bamboo_basket@2x.png 2x
              "
              type="image/png"
            />
            <img
              alt="Bamboo basket"
              src="./img/products/mobile/bamboo_basket.png"
            />
          </picture>
          <div class="card-description">
            <ul class="raiting-list">
              <li>
                <svg width="16" height="16">
                  <use href="../public/symbol-defs.svg#icon-star"></use>
                </svg>
              </li>
              <li>
                <svg width="16" height="16">
                  <use href="../public/symbol-defs.svg#icon-star"></use>
                </svg>
              </li>
              <li>
                <svg width="16" height="16">
                  <use href="../public/symbol-defs.svg#icon-star"></use>
                </svg>
              </li>
              <li>
                <svg width="16" height="16">
                  <use href="../public/symbol-defs.svg#icon-star"></use>
                </svg>
              </li>
              <li>
                <svg width="16" height="16">
                  <use href="../public/symbol-defs.svg#icon-star"></use>
                </svg>
              </li>
            </ul>
            <h3>Bamboo basket</h3>
            <p>$24.99</p>
            <button class="add-to-cart" type="button">Add to cart</button>
            <ul class="badges-list">
              <li>
                <div class=""><p>new</p></div>
              </li>
              <li>
                <div><p>-50%</p></div>
              </li>
            </ul>
            <button class="favourites" type="button">
              <svg width="20" height="20">
                <use href="./public/symbol-defs.svg#icon-heart"></use>
              </svg>
            </button>
          </div>
        </li>
        <li>
          <picture>
            <!-- <source
              media="(min-width: 1440px)"
              srcset=""
              type="image/png"
            /> -->
            <source
              media="(min-width: 1px)"
              srcset="
                ./img/products/mobile/toaster_product.png    1x,
                ./img/products/mobile/toaster_product@2x.png 2x
              "
              type="image/png"
            />
            <img
              alt="toaster"
              src="./img/products/mobile/toaster_product.png"
            />
          </picture>
          <div class="card-description">
            <ul class="raiting-list">
              <li>
                <svg width="16" height="16">
                  <use href="../public/symbol-defs.svg#icon-star"></use>
                </svg>
              </li>
              <li>
                <svg width="16" height="16">
                  <use href="../public/symbol-defs.svg#icon-star"></use>
                </svg>
              </li>
              <li>
                <svg width="16" height="16">
                  <use href="../public/symbol-defs.svg#icon-star"></use>
                </svg>
              </li>
              <li>
                <svg width="16" height="16">
                  <use href="../public/symbol-defs.svg#icon-star"></use>
                </svg>
              </li>
              <li>
                <svg width="16" height="16">
                  <use href="../public/symbol-defs.svg#icon-star"></use>
                </svg>
              </li>
            </ul>
            <h3>Toaster</h3>
            <p>$224.99</p>
            <button class="add-to-cart" type="button">Add to cart</button>
            <ul class="badges-list">
              <li>
                <div class=""><p>new</p></div>
              </li>
              <li>
                <div><p>-50%</p></div>
              </li>
            </ul>
            <button class="favourites" type="button">
              <svg width="20" height="20">
                <use href="./public/symbol-defs.svg#icon-heart"></use>
              </svg>
            </button>
          </div>
        </li>
        <li>
          <picture>
            <!-- <source
              media="(min-width: 1440px)"
              srcset=""
              type="image/png"
            /> -->
            <source
              media="(min-width: 1px)"
              srcset="
                ./img/products/mobile/white_drawer_unit.png    1x,
                ./img/products/mobile/white_drawer_unit@2x.png 2x
              "
              type="image/png"
            />
            <img
              alt="toaster"
              src="./img/products/mobile/white_drawer_unit.png"
            />
          </picture>
          <div class="card-description">
            <ul class="raiting-list">
              <li>
                <svg width="16" height="16">
                  <use href="../public/symbol-defs.svg#icon-star"></use>
                </svg>
              </li>
              <li>
                <svg width="16" height="16">
                  <use href="../public/symbol-defs.svg#icon-star"></use>
                </svg>
              </li>
              <li>
                <svg width="16" height="16">
                  <use href="../public/symbol-defs.svg#icon-star"></use>
                </svg>
              </li>
              <li>
                <svg width="16" height="16">
                  <use href="../public/symbol-defs.svg#icon-star"></use>
                </svg>
              </li>
              <li>
                <svg width="16" height="16">
                  <use href="../public/symbol-defs.svg#icon-star"></use>
                </svg>
              </li>
            </ul>
            <h3>White Drawer Unit</h3>
            <p>$89.99</p>
            <button class="add-to-cart" type="button">Add to cart</button>
            <ul class="badges-list">
              <li>
                <div class=""><p>new</p></div>
              </li>
              <li>
                <div><p>-50%</p></div>
              </li>
            </ul>
            <button class="favourites" type="button">
              <svg width="20" height="20">
                <use href="./public/symbol-defs.svg#icon-heart"></use>
              </svg>
            </button>
          </div>
        </li>
      </ul>
    </div>
    <button
      class="more-products-button"
      type="button"
      onclick="window.location.href='./html/shop.html'"
    >
      More Products
      <svg class="arrow-right" width="16" height="16">
        <use href="./public/symbol-defs.svg#icon-arrow-right"></use>
      </svg>
    </button>
  </div>
</section>
