<section class="values">
  <div class="container">
    <ul class="values-list">
      <li>
        <div class="values-card-container">
          <svg class="values-svgs" width="48" height="48">
            <use href="./public/symbol-defs.svg#icon-delivery"></use>
          </svg>
          <h3>Free Shipping</h3>
          <p>Order above $200</p>
        </div>
      </li>
      <li>
        <div class="values-card-container">
          <svg class="values-svgs" width="48" height="48">
            <use href="./public/symbol-defs.svg#icon-money"></use>
          </svg>
          <h3>Money-back</h3>
          <p>30 days guarantee</p>
        </div>
      </li>
      <li>
        <div class="values-card-container">
          <svg class="values-svgs" width="48" height="48">
            <use href="./public/symbol-defs.svg#icon-lock"></use>
          </svg>
          <h3>Secure Payments</h3>
          <p>Secured by Stripe</p>
        </div>
      </li>
      <li>
        <div class="values-card-container">
          <svg class="values-svgs" width="48" height="48">
            <use href="./public/symbol-defs.svg#icon-call"></use>
          </svg>
          <h3>24/7 Support</h3>
          <p>Phone and Email support</p>
        </div>
      </li>
    </ul>
  </div>
</section>
