<link rel="stylesheet" href="../scss/components/raiting.scss" />
<ul class="raiting-list">
  <li>
    <svg><use href="../public/symbol-defs.svg#icon-star"></use></svg>
  </li>
  <li>
    <svg><use href="../public/symbol-defs.svg#icon-star"></use></svg>
  </li>
  <li>
    <svg><use href="../public/symbol-defs.svg#icon-star"></use></svg>
  </li>
  <li>
    <svg><use href="../public/symbol-defs.svg#icon-star"></use></svg>
  </li>
  <li>
    <svg><use href="../public/symbol-defs.svg#icon-star"></use></svg>
  </li>
</ul>
