<section class="content">
  <div class="container">
    <div class="content-reviews-wrapper">
      <ul class="raiting-list">
        <li>
          <svg width="16" height="16">
            <use href="../../public/symbol-defs.svg#icon-star"></use>
          </svg>
        </li>
        <li>
          <svg width="16" height="16">
            <use href="../../public/symbol-defs.svg#icon-star"></use>
          </svg>
        </li>
        <li>
          <svg width="16" height="16">
            <use href="../../public/symbol-defs.svg#icon-star"></use>
          </svg>
        </li>
        <li>
          <svg width="16" height="16">
            <use href="../../public/symbol-defs.svg#icon-star"></use>
          </svg>
        </li>
        <li>
          <svg width="16" height="16">
            <use href="../../public/symbol-defs.svg#icon-star"></use>
          </svg>
        </li>
      </ul>
      <p class="content-reviews">11 Reviews</p>
    </div>
    <div class="info-wrapper">
      <h2 class="content-title">Tray Table</h2>
      <p class="content-text">
        Buy one or buy a few and make every space where you sit more convenient.
        Light and easy to move around with removable tray top, handy for serving
        snacks.
      </p>
      <ul class="content-price">
        <li><p>$199.00</p></li>
        <li><p>$400.00</p></li>
      </ul>
    </div>
    <div class="timer-wrapper">
      <p class="timer-text">Offer expires in:</p>

      <div class="timer">
        <div class="field">
          <div class="value-wrapper"><p class="value" data-days>00</p></div>
          <p class="label">Days</p>
        </div>
        <div class="field">
          <div class="value-wrapper"><p class="value" data-hours>00</p></div>
          <p class="label">Hours</p>
        </div>
        <div class="field">
          <div class="value-wrapper"><p class="value" data-minutes>00</p></div>
          <p class="label">Minutes</p>
        </div>
        <div class="field">
          <div class="value-wrapper"><p class="value" data-seconds>00</p></div>
          <p class="label">Seconds</p>
        </div>
      </div>
    </div>
    <div class="swatches">
      <p class="swatches-text">Measurments</p>
      <p class="measurments">17 1/2x20 5/8 "</p>
      <div class="choose-color-wrapper">
        <p class="color-text">Choose Color</p>
        <svg width="24" height="24">
          <use href="../../public/symbol-defs.svg#icon-chevron-right"></use>
        </svg>
      </div>
      <p class="content-color">Black</p>
      <ul class="content-color-list">
        <li class="content-item content-active" data-color="Black">
          <picture>
            <!-- <source
              media="(min-width: 1440px)"
              srcset=""
              type="image/png"
            /> -->
            <source
              media="(min-width: 1px)"
              srcset="
                ../../img/products/mobile/black_tray_table_color.png    1x,
                ../../img/products/mobile/black_tray_table_color@2x.png 2x
              "
              type="image/png"
            />
            <img
              alt="Black Tray table"
              src="../../img/products/mobile/black_tray_table_color.png"
            />
          </picture>
        </li>
        <li class="content-item" data-color="Sand">
          <picture>
            <!-- <source
              media="(min-width: 1440px)"
              srcset=""
              type="image/png"
            /> -->
            <source
              media="(min-width: 1px)"
              srcset="
                ../../img/products/mobile/sand_tray_table_color.png    1x,
                ../../img/products/mobile/sand_tray_table_color@2x.png 2x
              "
              type="image/png"
            />
            <img
              alt="Sand Tray table"
              src="../../img/products/mobile/sand_tray_table_color.png"
            />
          </picture>
        </li>
        <li class="content-item" data-color="Red">
          <picture>
            <!-- <source
              media="(min-width: 1440px)"
              srcset=""
              type="image/png"
            /> -->
            <source
              media="(min-width: 1px)"
              srcset="
                ../../img/products/mobile/red_tray_table_color.png    1x,
                ../../img/products/mobile/red_tray_table_color@2x.png 2x
              "
              type="image/png"
            />
            <img
              alt="Red Tray table"
              src="../../img/products/mobile/red_tray_table_color.png"
            />
          </picture>
        </li>
        <li class="content-item" data-color="White">
          <picture>
            <!-- <source
              media="(min-width: 1440px)"
              srcset=""
              type="image/png"
            /> -->
            <source
              media="(min-width: 1px)"
              srcset="
                ../../img/products/mobile/white_tray_table_color.png    1x,
                ../../img/products/mobile/white_tray_table_color@2x.png 2x
              "
              type="image/png"
            />
            <img
              alt="White Tray table"
              src="../../img/products/mobile/white_tray_table_color.png"
            />
          </picture>
        </li>
      </ul>
    </div>
  </div>
</section>
