<hero class="hero">
  <div class="container">
    <ul class="breadcrumb-list">
      <li>
        <a href="../../index.html">Home</a
        ><svg width="12" height="12">
          <use href="../../public/symbol-defs.svg#icon-chevron-right"></use>
        </svg>
      </li>
      <li>
        <a href="">Shop</a
        ><svg width="12" height="12">
          <use href="../../public/symbol-defs.svg#icon-chevron-right"></use>
        </svg>
      </li>
      <li>
        <a href="">Living Room</a
        ><svg width="12" height="12">
          <use href="../../public/symbol-defs.svg#icon-chevron-right"></use>
        </svg>
      </li>
      <li>
        <a class="active" href="">Product</a
        ><svg width="12" height="12">
          <use href="../../public/symbol-defs.svg#icon-chevron-right"></use>
        </svg>
      </li>
    </ul>

    <div class="swiper">
      <!-- Additional required wrapper -->
      <div class="swiper-wrapper">
        <!-- Slides -->
        <div class="swiper-slide swiper-slide-product">
          <picture>
            <!-- <source
              media="(min-width: 1440px)"
              srcset=""
              type="image/png"
            /> -->
            <source
              id="mySource1"
              media="(min-width: 1px)"
              srcset="
                ../../img/products/mobile/black_tray_table.png    1x,
                ../../img/products/mobile/black_tray_table@2x.png 2x
              "
              type="image/png"
            />
            <img
              alt="Black Tray table"
              src="../../img/products/mobile/black_tray_table.png"
            />
          </picture>
        </div>
        <div class="swiper-slide swiper-slide-product">
          <picture>
            <!-- <source
              media="(min-width: 1440px)"
              srcset=""
              type="image/png"
            /> -->
            <source
              id="mySource2"
              media="(min-width: 1px)"
              srcset="
                ../../img/products/mobile/black_tray_table.png    1x,
                ../../img/products/mobile/black_tray_table@2x.png 2x
              "
              type="image/png"
            />
            <img
              alt="Black Tray table"
              src="../../img/products/mobile/black_tray_table.png"
            />
          </picture>
        </div>
        <div class="swiper-slide swiper-slide-product">
          <picture>
            <!-- <source
              media="(min-width: 1440px)"
              srcset=""
              type="image/png"
            /> -->
            <source
              id="mySource3"
              media="(min-width: 1px)"
              srcset="
                ../../img/products/mobile/black_tray_table.png    1x,
                ../../img/products/mobile/black_tray_table@2x.png 2x
              "
              type="image/png"
            />
            <img
              alt="Black Tray table"
              src="../../img/products/mobile/black_tray_table.png"
            />
          </picture>
        </div>
        ...
      </div>
      <!-- If we need navigation buttons -->
      <div class="swiper-button-prev">
        <div class="swiper-button-next">
          <button class="sbp">
            <svg width="24" height="25">
              <use href="./public/symbol-defs.svg#icon-arrow-right"></use>
            </svg>
          </button>
        </div>
      </div>
      <div class="swiper-button-next">
        <div class="swiper-button-next">
          <button class="sbn">
            <svg width="24" height="25">
              <use href="./public/symbol-defs.svg#icon-arrow-right"></use>
            </svg>
          </button>
        </div>
      </div>
      <ul class="product-badges-list">
        <li>
          <div><p>new</p></div>
        </li>
        <li>
          <div><p>-50%</p></div>
        </li>
      </ul>
    </div>
  </div>
</hero>
