<section class="tabs">
  <div class="container">
    <ul class="accordion-container">
      <li class="accordion ac tabs-accordion">
        <p class="accordion-link ac-link ac-tabs-text" href="">
          Additional Info
          <button
            type="button"
            class="accordion-button ac-trigger"
            title="down"
          >
            <svg class="tabs-arrow">
              <use href="./public/symbol-defs.svg#icon-down"></use>
            </svg>
          </button>
        </p>
        <div class="accordion-panel ac-panel">
          <p class="Something">Something1</p>

          <p class="Something">Something2</p>

          <p class="Something">Something3</p>
        </div>
      </li>
      <li class="accordion ac tabs-accordion">
        <p class="accordion-link ac-link ac-tabs-text" href="">
          Questions
          <button
            type="button"
            class="accordion-button ac-trigger"
            title="down"
          >
            <svg class="tabs-arrow">
              <use href="./public/symbol-defs.svg#icon-down"></use>
            </svg>
          </button>
        </p>
        <div class="accordion-panel ac-panel">
          <p class="Something">Something4</p>

          <p class="Something">Something5</p>

          <p class="Something">Something6</p>
        </div>
      </li>
      <li class="accordion ac tabs-accordion">
        <p class="accordion-link ac-link ac-tabs-text" href="">
          Reviews (11)
          <button
            type="button"
            class="accordion-button ac-trigger"
            title="down"
          >
            <svg class="tabs-arrow">
              <use href="./public/symbol-defs.svg#icon-down"></use>
            </svg>
          </button>
        </p>
        <div class="accordion-panel ac-panel">
          <h2 class="review-title">Customer Reviews</h2>
          <div class="raiting-list-wrapper">
            <ul class="raiting-list-tabs">
              <li>
                <svg width="16" height="16">
                  <use href="./public/symbol-defs.svg#icon-star"></use>
                </svg>
              </li>
              <li>
                <svg width="16" height="16">
                  <use href="./public/symbol-defs.svg#icon-star"></use>
                </svg>
              </li>
              <li>
                <svg width="16" height="16">
                  <use href="./public/symbol-defs.svg#icon-star"></use>
                </svg>
              </li>
              <li>
                <svg width="16" height="16">
                  <use href="./public/symbol-defs.svg#icon-star"></use>
                </svg>
              </li>
              <li>
                <svg class="last-star" width="16" height="16">
                  <use href="./public/symbol-defs.svg#icon-star"></use>
                </svg>
              </li>
            </ul>
            <p>11 Reviews</p>
          </div>
          <p class="tray-table">Tray Table</p>
          <form class="tabs-form" action="">
            <input
              class="review-input"
              type="text"
              placeholder="Share your thoughts"
            />
            <button class="tabs-form-button" type="submit">
              <svg width="24" height="24">
                <use href="./public/symbol-defs.svg#icon-star"></use>
              </svg>
            </button>
          </form>
          <h2 class="review-amount-title">11 Reviews</h2>

          <select class="tabs-select" name="" id="">
            <option value="">Newest</option>
            <option value="">Oldest</option>
            <option value="">Popular</option>
          </select>
          <ul class="reviews-list">
            <li class="reviews-list-item">
              <div class="user">
                <picture>
                  <!-- <source
              media="(min-width: 1440px)"
              srcset=""
              type="image/png"
            /> -->
                  <source
                    media="(min-width: 1px)"
                    srcset="
                      /img/others/mobile/Sofia_Harvetz.png    1x,
                      /img/others/mobile/Sofia_Harvetz@2x.png 2x
                    "
                    type="image/png"
                  />
                  <img
                    alt="user avatar"
                    src="/img/others/mobile/Sofia_Harvetz.png"
                  />
                </picture>
                <div class="user-review-wrapper">
                  <h2>Sofia Harvetz</h2>
                  <ul class="raiting-list-reviews">
                    <li>
                      <svg>
                        <use href="./public/symbol-defs.svg#icon-star"></use>
                      </svg>
                    </li>
                    <li>
                      <svg>
                        <use href="./public/symbol-defs.svg#icon-star"></use>
                      </svg>
                    </li>
                    <li>
                      <svg>
                        <use href="./public/symbol-defs.svg#icon-star"></use>
                      </svg>
                    </li>
                    <li>
                      <svg>
                        <use href="./public/symbol-defs.svg#icon-star"></use>
                      </svg>
                    </li>
                    <li>
                      <svg>
                        <use href="./public/symbol-defs.svg#icon-star"></use>
                      </svg>
                    </li>
                  </ul>
                </div>
              </div>
              <p class="review-text">
                I bought it 3 weeks ago and now come back just to say “Awesome
                Product”. I really enjoy it. At vero eos et accusamus et iusto
                odio dignissimos ducimus qui blanditiis praesentium voluptatum
                deleniti atque corrupt et quas molestias excepturi sint non
                provident.
              </p>
              <div class="buttons-wraper">
                <button>Like</button><button>Reply</button>
              </div>
            </li>
            <li class="reviews-list-item">
              <div class="user">
                <picture>
                  <!-- <source
              media="(min-width: 1440px)"
              srcset=""
              type="image/png"
            /> -->
                  <source
                    media="(min-width: 1px)"
                    srcset="
                      /img/others/mobile/Nicolas_Jensen.png    1x,
                      /img/others/mobile/Nicolas_Jensen@2x.png 2x
                    "
                    type="image/png"
                  />
                  <img
                    alt="user avatar"
                    src="/img/others/mobile/Nicolas_Jensen.png"
                  />
                </picture>
                <div class="user-review-wrapper">
                  <h2>Nicolas Jensen</h2>
                  <ul class="raiting-list-reviews">
                    <li>
                      <svg>
                        <use href="./public/symbol-defs.svg#icon-star"></use>
                      </svg>
                    </li>
                    <li>
                      <svg>
                        <use href="./public/symbol-defs.svg#icon-star"></use>
                      </svg>
                    </li>
                    <li>
                      <svg>
                        <use href="./public/symbol-defs.svg#icon-star"></use>
                      </svg>
                    </li>
                    <li>
                      <svg>
                        <use href="./public/symbol-defs.svg#icon-star"></use>
                      </svg>
                    </li>
                    <li>
                      <svg>
                        <use href="./public/symbol-defs.svg#icon-star"></use>
                      </svg>
                    </li>
                  </ul>
                </div>
              </div>
              <p class="review-text">
                I bought it 3 weeks ago and now come back just to say “Awesome
                Product”. I really enjoy it. At vero eos et accusamus et iusto
                odio dignissimos ducimus qui blanditiis praesentium voluptatum
                deleniti atque corrupt et quas molestias excepturi sint non
                provident.
              </p>
              <div class="buttons-wraper">
                <button>Like</button><button>Reply</button>
              </div>
            </li>
            <li class="reviews-list-item">
              <div class="user">
                <picture>
                  <!-- <source
              media="(min-width: 1440px)"
              srcset=""
              type="image/png"
            /> -->
                  <source
                    media="(min-width: 1px)"
                    srcset="
                      /img/others/mobile/Bed_Pee.png    1x,
                      /img/others/mobile/Bed_Pee@2x.png 2x
                    "
                    type="image/png"
                  />
                  <img alt="user avatar" src="/img/others/mobile/Bed_Pee.png" />
                </picture>
                <div class="user-review-wrapper">
                  <h2>Bed Pee</h2>
                  <ul class="raiting-list-reviews">
                    <li>
                      <svg>
                        <use href="./public/symbol-defs.svg#icon-star"></use>
                      </svg>
                    </li>
                    <li>
                      <svg>
                        <use href="./public/symbol-defs.svg#icon-star"></use>
                      </svg>
                    </li>
                    <li>
                      <svg>
                        <use href="./public/symbol-defs.svg#icon-star"></use>
                      </svg>
                    </li>
                    <li>
                      <svg>
                        <use href="./public/symbol-defs.svg#icon-star"></use>
                      </svg>
                    </li>
                    <li>
                      <svg>
                        <use href="./public/symbol-defs.svg#icon-star"></use>
                      </svg>
                    </li>
                  </ul>
                </div>
              </div>
              <p class="review-text">
                I bought it 3 weeks ago and now come back just to say “Awesome
                Product”. I really enjoy it. At vero eos et accusamus et iusto
                odio dignissimos ducimus qui blanditiis praesentium voluptatum
                deleniti atque corrupt et quas molestias excepturi sint non
                provident.
              </p>
              <div class="buttons-wraper">
                <button>Like</button><button>Reply</button>
              </div>
            </li>
            <li class="reviews-list-item">
              <div class="user">
                <picture>
                  <!-- <source
              media="(min-width: 1440px)"
              srcset=""
              type="image/png"
            /> -->
                  <source
                    media="(min-width: 1px)"
                    srcset="
                      /img/others/mobile/Emily_Privet.png    1x,
                      /img/others/mobile/Emily_Privet@2x.png 2x
                    "
                    type="image/png"
                  />
                  <img
                    alt="user avatar"
                    src="/img/others/mobile/Emily_Privet.png"
                  />
                </picture>
                <div class="user-review-wrapper">
                  <h2>Emily Privet</h2>
                  <ul class="raiting-list-reviews">
                    <li>
                      <svg>
                        <use href="./public/symbol-defs.svg#icon-star"></use>
                      </svg>
                    </li>
                    <li>
                      <svg>
                        <use href="./public/symbol-defs.svg#icon-star"></use>
                      </svg>
                    </li>
                    <li>
                      <svg>
                        <use href="./public/symbol-defs.svg#icon-star"></use>
                      </svg>
                    </li>
                    <li>
                      <svg>
                        <use href="./public/symbol-defs.svg#icon-star"></use>
                      </svg>
                    </li>
                    <li>
                      <svg>
                        <use href="./public/symbol-defs.svg#icon-star"></use>
                      </svg>
                    </li>
                  </ul>
                </div>
              </div>
              <p class="review-text">
                I bought it 3 weeks ago and now come back just to say “Awesome
                Product”. I really enjoy it. At vero eos et accusamus et iusto
                odio dignissimos ducimus qui blanditiis praesentium voluptatum
                deleniti atque corrupt et quas molestias excepturi sint non
                provident.
              </p>
              <div class="buttons-wraper">
                <button>Like</button><button>Reply</button>
              </div>
            </li>
            <li class="reviews-list-item">
              <div class="user">
                <picture>
                  <!-- <source
              media="(min-width: 1440px)"
              srcset=""
              type="image/png"
            /> -->
                  <source
                    media="(min-width: 1px)"
                    srcset="
                      /img/others/mobile/Nicole_Aniston.png    1x,
                      /img/others/mobile/Nicole_Aniston@2x.png 2x
                    "
                    type="image/png"
                  />
                  <img
                    alt="user avatar"
                    src="/img/others/mobile/Nicole_Aniston.png"
                  />
                </picture>
                <div class="user-review-wrapper">
                  <h2>Nicole Aniston</h2>
                  <ul class="raiting-list-reviews">
                    <li>
                      <svg>
                        <use href="./public/symbol-defs.svg#icon-star"></use>
                      </svg>
                    </li>
                    <li>
                      <svg>
                        <use href="./public/symbol-defs.svg#icon-star"></use>
                      </svg>
                    </li>
                    <li>
                      <svg>
                        <use href="./public/symbol-defs.svg#icon-star"></use>
                      </svg>
                    </li>
                    <li>
                      <svg>
                        <use href="./public/symbol-defs.svg#icon-star"></use>
                      </svg>
                    </li>
                    <li>
                      <svg>
                        <use href="./public/symbol-defs.svg#icon-star"></use>
                      </svg>
                    </li>
                  </ul>
                </div>
              </div>
              <p class="review-text">
                I bought it 3 weeks ago and now come back just to say “Awesome
                Product”. I really enjoy it. At vero eos et accusamus et iusto
                odio dignissimos ducimus qui blanditiis praesentium voluptatum
                deleniti atque corrupt et quas molestias excepturi sint non
                provident.
              </p>
              <div class="buttons-wraper">
                <button>Like</button><button>Reply</button>
              </div>
            </li>
          </ul>
          <button class="more-button">Load more</button>
        </div>
      </li>
    </ul>
  </div>
</section>
