<section class="contact-section">
  <div class="container">
    <p class="contact-us-text">Contact Us</p>
    <ul class="contact-info-list">
      <li>
        <div class="contact-info-container">
          <svg width="32" height="32" stroke-width="2.5">
            <use href="./public/symbol-defs.svg#icon-store"></use>
          </svg>
          <h2>Address</h2>
          <p>234 Hai Trieu, Ho Chi Minh City, Viet Nam</p>
        </div>
      </li>
      <li>
        <div class="contact-info-container">
          <svg width="32" height="32" stroke-width="2.5">
            <use href="./public/symbol-defs.svg#icon-call"></use>
          </svg>
          <h2>Contact Us</h2>
          <p>+84 234 567 890</p>
        </div>
      </li>
      <li>
        <div class="contact-info-container">
          <svg width="32" height="32" stroke-width="2.5">
            <use href="./public/symbol-defs.svg#icon-mail"></use>
          </svg>
          <h2>Email</h2>
          <p>hello@3legant.com</p>
        </div>
      </li>
    </ul>
    <div class="contact-content-wrapper">
      <div class="map" id="map">
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3833.3642104815244!2d33.409603818535395!3d49.069876865545965!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d753267e967add%3A0x687234cf1482b0fb!2z0KHQutCy0LXRgCDQuNC8LiDQntC70LXQs9CwINCR0LDQsdCw0LXQstCw!5e0!3m2!1sru!2sua!4v1715342195080!5m2!1sru!2sua"
          style="border: 0"
          allowfullscreen="true"
          loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"
          id="google-map"
        ></iframe>
      </div>
      <form class="contact-form">
        <label for="username">
          full name
          <input
            type="text"
            name="username"
            id="username"
            placeholder="Your Name"
          />
        </label>
        <label for="email">
          email addres
          <input type="text" name="email" id="email" placeholder="Your Email" />
        </label>
        <label for="message">
          message
          <textarea
            name="message"
            id="message"
            placeholder="Your message"
          ></textarea>
        </label>
        <button type="submit">Send Message</button>
      </form>
    </div>
  </div>
  <ul class="values-list">
    <li>
      <div class="contact-values-card-container">
        <svg width="48" height="48">
          <use href="./public/symbol-defs.svg#icon-delivery"></use>
        </svg>
        <h3>Free Shipping</h3>
        <p>Order above $200</p>
      </div>
    </li>
    <li>
      <div class="contact-values-card-container">
        <svg width="48" height="48">
          <use href="./public/symbol-defs.svg#icon-money"></use>
        </svg>
        <h3>Money-back</h3>
        <p>30 days guarantee</p>
      </div>
    </li>
    <li>
      <div class="contact-values-card-container">
        <svg width="48" height="48">
          <use href="./public/symbol-defs.svg#icon-lock"></use>
        </svg>
        <h3>Secure Payments</h3>
        <p>Secured by Stripe</p>
      </div>
    </li>
    <li>
      <div class="contact-values-card-container">
        <svg width="48" height="48">
          <use href="./public/symbol-defs.svg#icon-call"></use>
        </svg>
        <h3>24/7 Support</h3>
        <p>Phone and Email support</p>
      </div>
    </li>
  </ul>
</section>
